src/yacsloader/schema.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xse="http://www.codesynthesis.com/xmlns/xml-schema-extension"
            xmlns:sup="http://www.salome.org/supervision/graph"
            targetNamespace="http://www.salome.org/supervision/graph">

  <xsd:complexType name="PresentationType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="x" type="xsd:string" use="required"/>
    <xsd:attribute name="y" type="xsd:string" use="required"/>
    <xsd:attribute name="z" type="xsd:string" use="required"/>
    <xsd:attribute name="width" type="xsd:string" use="required"/>
    <xsd:attribute name="height" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="TypeType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="kind" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="SequenceType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="content" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ObjrefType">
    <xsd:sequence>
      <xsd:element name="base" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="PropertyType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="PropertiesType">
    <xsd:sequence>
      <xsd:element name="property" type="sup:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InPortType">
    <xsd:sequence>
      <xsd:element name="properties" type="sup:PropertiesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="OutPortType">
    <xsd:sequence>
      <xsd:element name="properties" type="sup:PropertiesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="Kind">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="function"/>
      <xsd:enumeration value="script"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="CodeType">
    <xsd:sequence>
     <xsd:element name="code" type="xsd:string" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FuncType">
    <xsd:sequence>
     <xsd:element name="code" type="xsd:string" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="NodeType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="InlineNodeType">
    <xsd:sequence>
      <xsd:element name="kind" type="xsd:string" minOccurs="0" />
      <xsd:choice >
        <xsd:element name="script" type="sup:CodeType" />
        <xsd:element name="function" type="sup:FuncType" />
      </xsd:choice>
      <xsd:element name="inport" type="sup:InPortType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="outport" type="sup:OutPortType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="ServiceNodeType">
    <xsd:sequence>
      <xsd:element name="kind" type="xsd:string" minOccurs="0" />
      <xsd:choice >
        <xsd:element name="ref" type="xsd:string"/>
        <xsd:element name="component" type="xsd:string"/>
        <xsd:element name="node" type="xsd:string"/>
      </xsd:choice>
      <xsd:element name="method" type="xsd:string"/>
      <xsd:element name="inport" type="sup:InPortType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="outport" type="sup:OutPortType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="instream" type="sup:InPortType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="outstream" type="sup:OutPortType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="LinkType">
    <xsd:all>
      <xsd:element name="fromnode" type="xsd:string" />
      <xsd:element name="fromport" type="xsd:string" />
      <xsd:element name="tonode" type="xsd:string" />
      <xsd:element name="toport" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ControlType">
    <xsd:all>
      <xsd:element name="fromnode" type="xsd:string" />
      <xsd:element name="tonode" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="StreamType">
    <xsd:all>
      <xsd:element name="fromnode" type="xsd:string" />
      <xsd:element name="fromport" type="xsd:string" />
      <xsd:element name="tonode" type="xsd:string" />
      <xsd:element name="toport" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ValueType">
    <xsd:choice>
      <xsd:element name="int"           type="xsd:int"/>
      <xsd:element name="double"        type="xsd:decimal"/>
      <xsd:element name="string"        type="xsd:string"/>
      <xsd:element name="boolean"        type="xsd:boolean"/>
      <xsd:element name="objref"        type="xsd:string"/>
      <xsd:element name="array"         type="sup:ArrayType"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="ArrayType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value"  type="sup:ValueType"
                         minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ParameterType">
    <xsd:all>
      <xsd:element name="tonode" type="xsd:string" />
      <xsd:element name="toport" type="xsd:string" />
      <xsd:element name="value" type="sup:ValueType" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DefaultCaseType">
    <xsd:sequence>
      <xsd:choice >
       <xsd:element name="inline" type="sup:InlineNodeType" />
       <xsd:element name="service" type="sup:ServiceNodeType" />
       <xsd:element name="forloop" type="sup:ForLoopType" />
       <xsd:element name="while" type="sup:WhileType" />
       <xsd:element name="switch" type="sup:SwitchType" />
       <xsd:element name="bloc" type="sup:BlocType" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CaseType">
    <xsd:complexContent>
      <xsd:extension base="sup:DefaultCaseType">
        <xsd:attribute name="id" type="xsd:int" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SwitchType">
    <xsd:sequence>
      <xsd:element name="case" type="sup:CaseType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="default" type="sup:DefaultCaseType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="xsd:string" />
    <xsd:attribute name="select" type="xsd:int" />
  </xsd:complexType>

  <xsd:complexType name="LoopType">
    <xsd:sequence>
      <xsd:choice >
       <xsd:element name="inline" type="sup:InlineNodeType" />
       <xsd:element name="service" type="sup:ServiceNodeType" />
       <xsd:element name="forloop" type="sup:ForLoopType" />
       <xsd:element name="while" type="sup:WhileType" />
       <xsd:element name="switch" type="sup:SwitchType" />
       <xsd:element name="bloc" type="sup:BlocType" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="ForLoopType">
    <xsd:complexContent>
      <xsd:extension base="sup:LoopType">
        <xsd:attribute name="nsteps" type="xsd:int" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="WhileType">
    <xsd:complexContent>
      <xsd:extension base="sup:LoopType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BlocType">
    <xsd:sequence>
      <xsd:element name="inline" type="sup:InlineNodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="service" type="sup:ServiceNodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="forloop" type="sup:ForLoopType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="while" type="sup:WhileType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="switch" type="sup:SwitchType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="bloc" type="sup:BlocType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="node" type="sup:NodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="control" type="sup:ControlType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="datalink" type="sup:LinkType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="parameter" type="sup:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="stream" type="sup:StreamType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="state" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="ProcType">
    <xsd:sequence>
      <xsd:element name="property" type="sup:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="type" type="sup:TypeType" />
        <xsd:element name="sequence" type="sup:SequenceType" />
        <xsd:element name="objref" type="sup:ObjrefType" />
      </xsd:choice>
      <xsd:element name="inline" type="sup:InlineNodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="service" type="sup:ServiceNodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="forloop" type="sup:ForLoopType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="while" type="sup:WhileType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="switch" type="sup:SwitchType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="bloc" type="sup:BlocType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="node" type="sup:NodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="control" type="sup:ControlType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="datalink" type="sup:LinkType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="parameter" type="sup:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="stream" type="sup:StreamType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="presentation" type="sup:PresentationType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="proc" type="sup:ProcType"/>

</xsd:schema>


